window {
  margin: 0px;
  background-color: #0f0f17;
  border-radius: 10px;
  opacity: 0.8;
}

#inner-box {
  background-color: #1a1b26;
  margin: 5px;
  border: none;
  border-radius: 10px;
}

#outer-box {
  background-color: #0f0f17;
  margin: 5px;
  border: none;
  border-radius: 10px;
}
