#mainwindow {
  border-radius: 10px;
}

.mainbox {
  border-radius: 5px;
  padding: 20px;
}

.button {
  margin: 5px;
  background-color: #2b2c3b;
  -gtk-icon-size: 5rem;
}

.button:hover {
  background-color: #3e4152;
}
